h1 {
border: red 2px;
background-color: #6a6;
padding:10px;
}

ul{
    margin:15px;
    background-color:#DE1E7E
}

p{
    width: 500px;
    height: 300px;
    border: 2px 2px;
    border-color: black;
    border-style: dotted;
    background-color: #FB1;
}

a{
    border-bottom-style: dashed;
    border-bottom-color: blue;
    background-color: #a1a1a1;
}