body {
    background-color: lightgrey;
  }
  .box-1 {
    width: 200px;
    height: 200px;
    background-color: yellow;
    top: 0;
    left: 0;
    position: absolute;
    color: white;
  }
  
  .box-2 {
    width: 200px;
    height: 200px;
    top: 100px;
    left: 100px;
    background-color: blue;
    position: absolute;
  }

  .box-3 {
    width: 200px;
    height: 200px;
    top: 100px;
    left: 100px;
    background-color: green;
    position: absolute;
  }
  