#next {
    width: 380px;
    height: 30px;
    color: white;
    background-color: black;
    font-weight: bold;
}

#nameInput {
    background-color: ghostwhite ;
    width: 380px;
    margin: 5px 0px;
}

#eMailInput {
    background-color: ghostwhite ;
    width: 380px;
    margin: 5px 0px;
}

#firstNameInput {
    background-color: ghostwhite ;
    width: 380px;
    margin: 5px 0px;
}

#lastNameInput {
    background-color: ghostwhite ;
    width: 380px;
    margin: 5px 0px;
}

#nickNameInput {
    background-color: ghostwhite ;
    width: 380px;
    margin: 5px 0px;
}

#phoneInput {
    background-color: ghostwhite ;
    width: 380px;
    margin: 5px 0px;
}

.labelTag {
    display: block;
    width: 150px;
}

p {
    display: block;
}

#divTag {
    padding-bottom: 20px;
}

.span {
    width: 377px;
    height: 20px;
    color: black;
    background-color: pink;
    font-weight: bold;
    border: solid red 1px;
    padding: 5px 0px 5px 5px;
    margin: 5px 0px 5px 0px;
    text-align: justify;
}

.hidden {
    display: none;
}