.header{
    height: 50px;
    background-color: yellow
}
.footer{
    height: 50px;
    background-color: red   
}
.container{
    display: flex
}
.left-side, .right-side{
    height:50px;
    width:200px;
}
.left-sidebar{
background-color:green;
}

.right-sidebar{
    background-color:orange
    }
.main-content{
    width:100%;
    background-color: purple
}